<%- include('partials/header-session.ejs') %>
<link rel="stylesheet" href="/stylesheets/create-snippet.css" />
<div id="particles-js"></div>
<div class="container text-center">
  <div class="snippets_main_container">
    <div class="snippet_container text-start">
      <label for="test">Code goes here</label>
      <div class="flask" name="test" id="create-test"></div>
    </div>
  </div>

  <div class="create-snippet-container container">
    <form action="/user/snippets/create" method="POST">
      <input type="text" name="name" id="name" placeholder="Name" />
      <input type="text" name="sid" id="sid" placeholder="Sid" />
      <label for="label">Title</label>
      <input type="text" name="label" id="label" placeholder="Title" />
      <input type="text" name="code" id="code" />
      <!-- <textarea name="code" id="code" cols="30" rows="10"></textarea> -->
      <label for="lang">Lang</label>
      <select id="lang" name="lang">
        <option value="js">JavaScript</option>
        <option value="html">HTML</option>
        <option value="css">CSS</option>
      </select>
      <button class="btn btn-primary btn-sm" type="submit">Create</button>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="/javascripts/particles.js"></script>

<link rel="stylesheet" href="/stylesheets/snippetsStyles.css" />
<script src="/javascripts/test2.js"></script>

<script>
  let elem = document.querySelector("#create-test");
  let snip = new Test(elem, { language: "js" });

  //SET RANDOMS
  //random num generator
  let randomNum = () => Math.floor(Math.random() * 1000000);
  //elements / value assignments
  let nameInput = document.querySelector("#name");
  nameInput.value = `a${randomNum()}b${randomNum()}`;
  let sidInput = document.querySelector("#sid");
  sidInput.value = `c${randomNum()}d${randomNum()}`;

  let editor = document.querySelector("#create-test");
  let code = document.querySelector("#code");
  //listen to change in the editor, update the value in input to be sent over
  editor.addEventListener("change", () => {
    rawCode = snip
      .getCode()
      .replace(/\n/g, "^^")
      .replace(/\)/g, "^pr")
      .replace(/"/g, "!qt")
      .replace(/name/g, "$nm$")
      .replace(/label/g, "!em!");
    code.value = rawCode;
    console.log(rawCode);
  });
</script>
