<%- include('partials/header-session.ejs') %>
<link rel="stylesheet" href="/stylesheets/create-snippet.css" />

<div class="create-snippet-container container">
  <form action="/user/snippets/create" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" />
    <label for="sid">Sid</label>
    <input type="text" name="sid" id="sid" placeholder="Sid" />
    <label for="label">Label</label>
    <input type="text" name="label" id="label" placeholder="Label" />
    <label for="code">Code</label>
    <input type="text" name="code" id="code" />
    <!-- <textarea name="code" id="code" cols="30" rows="10"></textarea> -->
    <label for="lang">Lang</label>
    <input type="text" name="lang" id="lang" placeholder="Lang" />
    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</div>

<div class="snippets_main_container">
  <div class="snippet_container">
    <label for="test">Code goes here</label>
    <div class="flask" name="test" id="create-test"></div>
  </div>
</div>

<link rel="stylesheet" href="/stylesheets/snippetsStyles.css" />
<script src="/javascripts/test2.js"></script>

<script>
  let elem = document.querySelector("#create-test");
  let snip = new Test(elem, { language: "js" });

  //SET RANDOMS
  //random num generator
  let randomNum = () => Math.floor(Math.random() * 1000000);
  //elements / value assignments
  let nameInput = document.querySelector("#name");
  nameInput.value = `a${randomNum()}b${randomNum()}`;
  let sidInput = document.querySelector("#sid");
  sidInput.value = `c${randomNum()}d${randomNum()}`;

  let editor = document.querySelector("#create-test");
  let code = document.querySelector("#code");
  //listen to change in the editor, update the value in input to be sent over
  editor.addEventListener("change", () => {
    rawCode = snip.getCode().replace(/\n/g, "^^").replace(/\)/g, "^pr");
    code.value = rawCode;
    console.log(rawCode);
  });
</script>
