<%- include('partials/header-session.ejs') %>
<link rel="stylesheet" href="/stylesheets/dashboard.css" />
<div id="particles-js"></div>
<div class="dash-container container">
  <h4>Welcome <%=userInSession.username%></h4>
  <div class="card">
    <div class="card-body">
      <h5><%=quote.en%></h5>
      <p class="quote-author">- <%=quote.author%></p>
    </div>
  </div>
  <div class="widget-container container">
    <div draggable="true" class="widget">
      <h5 id="widget-1-heading">Color Picker</h5>
      <div id="color-selection-container">
        <input type="color" name="" id="color-picker" />
        <input type="text" id="color-input" value="#000000" />
      </div>
      <div id="color-display"></div>
    </div>
    <div draggable="true" class="widget">
      <img class="article-2-img" src="/images/cat.png" alt="" />
      <p class="article-2-attr">
        <a
          href="https://www.freepik.com/free-vector/cute-cat-working-laptop-cartoon-vector-icon-illustration-animal-technology-icon-concept-isolated_28565598.htm#query=cat%20computer&position=7&from_view=search"
          >Image by catalyststuff</a
        >
        on Freepik
      </p>
    </div>
    <div draggable="true" class="widget">
      <img class="article-3-img" src="/images/npm.png" alt="" />
      <p class="m-auto" style="width: 18rem">
        Check out a list of 30 best NPM packages for 2022.
      </p>
      <a
        class="text-center"
        style="margin: 5% 0 0 0%; display: block"
        href="https://colorlib.com/wp/npm-packages-node-js/"
        >Best packages</a
      >
      <p class="article-3-attr">
        <a href="https://iconscout.com/icons/npm" target="_blank">Npm Icon</a>
        by
        <a href="https://iconscout.com/contributors/icon-mafia" target="_blank"
          >Icon Mafia</a
        >
      </p>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="/javascripts/particles.js"></script>
<script src="/javascripts/colorPicker.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    function handleDragStart(e) {
      this.style.opacity = "0.4";
      dragSrcEl = this;

      e.dataTransfer.effectAllowed = "move";
      e.dataTransfer.setData("text/html", this.innerHTML);
    }

    function handleDragEnd(e) {
      this.style.opacity = "1";

      items.forEach(function (item) {
        item.classList.remove("over");
      });
    }

    function handleDragOver(e) {
      e.preventDefault();
      return false;
    }

    function handleDragEnter(e) {
      this.classList.add("over");
    }

    function handleDragLeave(e) {
      this.classList.remove("over");
    }

    function handleDrop(e) {
      e.stopPropagation(); // stops the browser from redirecting.
      if (dragSrcEl !== this) {
        dragSrcEl.innerHTML = this.innerHTML;
        this.innerHTML = e.dataTransfer.getData("text/html");
        resetPicker();
      }
      return false;
    }

    let items = document.querySelectorAll(".widget-container .widget");
    items.forEach(function (item) {
      item.addEventListener("dragstart", handleDragStart);
      item.addEventListener("dragover", handleDragOver);
      item.addEventListener("dragenter", handleDragEnter);
      item.addEventListener("dragleave", handleDragLeave);
      item.addEventListener("dragend", handleDragEnd);
      item.addEventListener("drop", handleDrop);
    });
  });
</script>
