<%- include('partials/header-login.ejs') %>
<link rel="stylesheet" href="/stylesheets/overflow.css" />
<div class="container" style="overflow: hidden !important">
  <div class="topRightImg">
    <img src="/images/toprighttest.png" alt="" />
  </div>
  <div class="bottomLeftImg">
    <img src="/images/bottomleft.png" alt="" />
  </div>
  <div class="heroImg">
    <img src="/images/web.png" alt="" />
  </div>
  <div class="hero-text">
    <h3>Welcome to Kode Trac</h3>
    <p>An online platform for individuals that are learning how to code.</p>
  </div>
</div>
